*.obj
*.i
*.s
*.o
*.lo
*.la
\#*#
\#*.*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store
thumbs.db
Thumbs.db
*.bak
*.class
*.exe
*.dll
*.mine
*.obj
*.ncb
*.lib
*.log
*.idb
*.pdb
*.ilk
*.msi*
.res
*.pch
*.suo
*.exp
*.*~
*.~*
~*.*
cvs
CVS
.CVS
.cvs
release
Release
debug
Debug
ignore
Ignore
bin
Bin
obj
Obj
*.csproj.user
*.user
*.TMP
GPATH
GRTAGS
GSYMS
GTAGS
*.stackdump
*.o.cmd
*.idc
